*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 120vh;
    
}
.header-section2{
    width: 100%;
    height: 120vh;
    background-image: url('images/fantasy_city.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
